.circle {
    width: 200px;
    height: 200px;
    margin-left: 350px;
    float: left;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #4679BD;
}

#Score {
	font-size: 50px;
	margin-top: 300px;
	margin-left: 620px;

}
