/*Text with title and instructions*/
.text {
  padding-left: 290px;
  font-size: 100px;
}
/*Styling the demonic instructions */
.instructions {
  font-size: 20px;
  color: Red;
}

/*Slider generation */
#redSlider, #greenSlider, #blueSlider {
  float: left;
  height: 300px;
}
/*Slider styling as modeled by SimpleColorPicker UI */
#redSlider .ui-slider-range { background: red; }
#redSlider .ui-slider-handle { border-color: red; }
#greenSlider .ui-slider-range { background: green; }
#greenSlider .ui-slider-handle { border-color: green; }
#blueSlider .ui-slider-range { background: blue; }
#blueSlider .ui-slider-handle { border-color: blue; }

/*hexValue box creation*/
#redValue, #greenValue, #blueValue {
  border: 1px black solid;
  border-radius: 10px;
  display: inline;
  position: relative;
  top: 350px;
  left: -259px;
  margin-right: 55px;
  padding: 10px;
  width: 20px;
}

/*Positioning the buttons*/
#buttons {
  position: relative;
  left: 340px;
  width: 120px;
  height: 90px;
}
/*Subdirectives for each button to get their parameters *exactly* correct */

#start, #guess, #next {
  position: absolute;
}

#start {
  left: 31px;
}
#guess {
  top: 45px;
  left: 47px;
}
#next {
  top: 75px;
  left: 50px;
}

/*Positioning the settings*/
#settings {
  float:left;
  position: relative;
  top: -100px;
  width: 150px;
  left: 300px;
}
/*More subdirectives! */
#turns {
  width: 25px;
  margin-bottom: 5px;
}

#difficulty {
  width: 19px;
}

/*Positioning swatches*/
#swatch {
  width: 220px;
  height: 200px;
  position: relative;
  left: 255px;
  border: 2px black solid;
}

#myswatch {
  position: relative;
  width: 110px;
  height: 200px;
  top: -16px;
  left: -40px;
  border-right: 2px white solid;
}

#oneswatch {
  position: relative;
  left: 326px;
  top: -10px;
}

#twoswatch { /* red swatch, blue swatch? */
  position: relative;
  left: 296px;
  top: -10px;
}

/*Stylizing results container*/
#results {
  border: 2px black dashed;
  position: relative;
  width: 200px;
  height: 200px;
  top: -220px;
  left: 550px;
}
/* Subdierectives for the results container elements */

#score {
  margin: 0;
  text-align: center;
}

#percents {
  padding-left: 5px;
  position: relative;
  top: -20px;
}

#again {
  margin-left: 52px;
}
