body {
	font-family: 'Oswald', sans-serif;
	width: 100%;
	background-image: url("background.svg"), none;

}
body, ul, li {
	padding: 0;
	margin: 0;
}

#nav {
	position:fixed;
	top: 0px;
	display:block;
	width: 100%;
	background-color: #8CBD90;
	text-align:right;
	padding: 1em 3em;
	z-index:100;
}


#nav li {
	list-style: none;
	padding-right: 3.5em;
	display: inline;
	font-size: 1.5em;
	float: left;
	line-height: 2em;
}

#logo a {
	font-size: 1.5em;
	color: #E0DE9F;
}

p.titles {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #EA7146;
}

p {
	padding: 10px 250px;
	font-size: 25px;
	text-indent: 50px;
}
