body {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	background-image: url("background1.svg"), none;

}
body, ul, li {
	padding: 0;
	margin: 0;
}

#nav {
	position:fixed;
	top: 0px;
	display:block;
	width: 100%;
	background-color: #B3E5E3;
	text-align:right;
	padding: 0.5em 3em;
	z-index:100;
}


#nav li {
	list-style: none;
	padding-right: 3.5em;
	display: inline;
	font-size: 1.5em;
	float: left;
	line-height: 1.5em;
}

#logo a {
	font-size: 1.5em;
	color: white;
}

#login {
	margin-top: 150px;
	padding-left: 400px;
	width: 50%;
}

/* unvisited link */
a:link {
    color: #626867;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #626867;
    text-decoration: none;
}

/* hover over link */
a:hover {
    text-decoration: none;
    color: white;
}


legend {
	font-size: 40px;
	color: #626867;
}

tr {
	color: #626867;
}


input {
	width: 300px;
}

#pic img {
	height: auto;
	width: 300px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	float: left;
}

.btn {
  background: #3bb373;
  background-image: -webkit-linear-gradient(top, #ADADFF, white);
  background-image: -moz-linear-gradient(top, #ADADFF, white);
  background-image: -ms-linear-gradient(top, #ADADFF, white);
  background-image: -o-linear-gradient(top, #ADADFF, white);
  background-image: linear-gradient(to bottom, #ADADFF, white);
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #626867;
  font-size: 18px;
  padding: 14px;
  float: right;
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 10px;
}

.btn:hover {
  text-decoration: none;
}

fieldset {
	background-color: rgba(255,255,255,0.8);
}
