body {
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	background-image: url("background1.jpg"), none;
	background-size: contain;

}
body, ul, li {
	padding: 0;
	margin: 0;
}

#nav {
	position:fixed;
	top: 0px;
	display:block;
	width: 100%;
	background-color: #B3E5E3;
	text-align:right;
	padding: 0.5em 3em;
	z-index:100;
}


#nav li {
	list-style: none;
	padding-right: 3.5em;
	display: inline;
	font-size: 1.5em;
	float: left;
	line-height: 1.5em;
	margin-top: 1em;
}

#logo a {
	font-size: 1.5em;
	color: white;
}

#login {
	margin-top: 1em;
	padding-left: auto;
	padding-right: auto;
	width: 50%;
}

/* unvisited link */
a:link {
    color: #626867;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #626867;
    text-decoration: none;
}

/* hover over link */
a:hover {
    text-decoration: none;
    color: white;
}

#register {
	margin-top: 10em;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

legend {
	font-size: 2.5em;
	color: #705440;
}

tr {
	color: #705440;
}

#pic img {
	height: auto;
	width: 17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 3em;
	margin-right: 1em;
	float: left;
}

.btn {
  background: #3bb373;
  background-image: -webkit-linear-gradient(top, #ADADFF, white);
  background-image: -moz-linear-gradient(top, #ADADFF, white);
  background-image: -ms-linear-gradient(top, #ADADFF, white);
  background-image: -o-linear-gradient(top, #ADADFF, white);
  background-image: linear-gradient(to bottom, #ADADFF, white);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #626867;
  font-size: 1em;
  padding: 0.5em;
  float: right;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 3em;
}

.btn:hover {
  text-decoration: none;
}

table {
	float: right;
	z-index: 100;
}

fieldset {
	background-color: rgba(255,255,255,0.8);
	padding-left: auto;
	padding-right: auto;
}